* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(25, 2, 54);
}

.con {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card > div {
    background-color: rgb(34, 50, 104);
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
    width: 250px;
}

.card > div img {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
}

.card > div p {
    font-size: 14px;
    margin-bottom: 4px;
}

.card > div p:first-of-type {
    font-weight: 600;
}